* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
p{
    display: inline;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 570px;
    height: 450px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
}

.content_left {
    height: 100%;
    width: 50%;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 1.5s;
}

.content_left h4 {
    font-weight: 400;
    color: hsl(241, 100%, 89%);
}

.content_left .circle {
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_left .circle h1 {
    font-size: 80px;
    font-weight: 700;
}

.content_left .circle p {
    color: hsl(241, 100%, 89%);
}

.content_left h3 {
    font-size: 25px;
    font-weight: 700;
}
.content_left .p{
    color: hsl(241, 100%, 89%) ;
    font-size: 12px ;
    width: 100%;
    text-align: center;
}

.content_rigth {
    background: hsl(0, 0%, 100%);
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 50%;
    border-top-right-radius: 30px ;
    border-bottom-right-radius: 30px ;
    gap: 13px;
    transition: 1.5s;
}
.content_rigth div{
    margin-left: 50px ;
}
.content_rigth a{
    transition: 1.5s;
}
.reaction{
    width: 220px;
    height: 50px;
    background-color:hsla(0, 100%, 67%, 0.155);
    border-radius: 12px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}
.reaction p ,.memory p ,.verbal p , .visual p{
    color: hsla(224, 30%, 27%, 0.175) ;
}
.memory{
    width: 220px;
    height: 50px;
    background-color: hsla(39, 100%, 56%, 0.155);
    border-radius: 12px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}
.verbal{
    width: 220px;
    height: 50px;
    background-color:hsla(166, 100%, 37%, 0.155);
    border-radius: 12px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}
.visual{
    width: 220px;
    height: 50px;
    background-color:hsla(234, 85%, 45%, 0.155);
    border-radius: 12px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}
.content_rigth h2{
    margin: 0 0 20px 30px;
}
button{
    width: 220px;
    height: 50px;
    border-radius: 85px;
    margin-left: 31px;
    margin-top: 13px;
    background: hsl(224, 30%, 27%) ;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 1.5s;
}
button:hover{
    background: hsl(241, 81%, 54%);
    cursor: pointer;
    scale: 1.1;
}
.attribution{
    word-spacing: 15px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}
.content_rigth a:hover ,.content_rigth:hover ,button,.content_left:hover{
    transform: scale(1.1);
    box-shadow: 1px 10px 20px 15px hsla(0, 0%, 60%, 0.2);
}
@media (max-width:600px){
    .container{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        
    }
    .content_left{
        height: 50%;
        width: 100%;
    }
    .content_rigth{
        height: auto;
        width: 100%;
        display: flex;
    }
    .content_rigth a{
        width: 85%;
    }
    button{
        width: 83%;
    }
}